{{#each this}}
<a href="#" class="list-group-item list-group-item-action">
    <div class="media">
        <img src="{{from.picture}}" class="rounded-circle mr-3 shadow" alt="">

        <div class="media-body small">
            <p class="mb-0 d-flex w-100 justify-content-between">
                <span class="bold mb-1 text-capitalize">{{from.name}}</span>
                <small class="color-3">{{time}}</small>
            </p>

            <p class="small color-2 alpha-5 mb-0">{{message}}</p>
        </div>
    </div>
</a>
{{/each}}